body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Open Sans, sans-serif;
  font-size: 62.5%;
}
.header__home {
  display: flex;
  justify-content: center;
  margin: 9.5rem auto 10px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header__home__logo {
  width: 25rem;
}
@media (min-width: 768px) {
  .header__home__logo {
    width: 30.9rem;
  }
  .header__home {
    align-items: flex-end;
    margin: 0;
    min-height: 15vh;
  }
}
.header__profile {
  min-height: 10vh;
  width: 100%;
}
.header__profile__link {
  background: linear-gradient(#78bff9, #ffc8dd);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  position: static;
}
@media (min-width: 768px) {
  .header__profile__link {
    justify-content: flex-start;
    padding: 2rem 4rem;
  }
}
.header__profile__logo {
  width: 23rem;
}
.preview {
  align-content: center;
  background: linear-gradient(#ffc8dd, #78bff9);
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  height: 100%;
  justify-content: center;
  margin: auto;
  padding-bottom: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .preview {
    border-radius: 6px;
    height: 80vh;
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .preview {
    height: 82.6rem;
  }
}
.reset-button {
  background-color: initial;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  height: 3rem;
  margin-bottom: 20px;
  margin-top: 38px;
  opacity: 100%;
  text-transform: uppercase;
  transition-duration: 0.15s;
  width: 8.5rem;
}
.reset-button:hover {
  color: #7c7c7c;
}
.reset-button:active,
.reset-button:hover {
  background-color: #454040;
  border: 1px solid #7c7c7c;
  opacity: 100%;
}
.reset-button:active {
  color: #f5f5f5;
}
@media (min-width: 768px) {
  .reset-button {
    margin-top: 173px;
  }
}
.preview .fa-regular {
  padding-right: 5px;
}
.card {
  background-color: #fff;
  border: 1px;
  border-color: #2d88bd;
  border-radius: 5px;
  box-shadow: 1px 2px 4px hsla(0, 0%, 5%, 0.25);
  width: 270px;
}
.information {
  margin-left: 20px;
  margin-top: 21px;
}
.photo {
  object-fit: cover;
}
.name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}
.developer {
  color: #2d88bd;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.rectangle {
  background-color: #438792;
  height: 42px;
  margin-top: 20px;
  position: absolute;
  width: 5px;
}
.photo {
  height: 250px;
  width: 100%;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 20px;
  text-decoration: none;
}
.icons a {
  color: #e06ae6;
}
.icons a:hover {
  color: #c7006a;
}
.icon-border {
  border: 2px solid #a2deaf;
}
.icon-phone {
  padding: 8px 10px;
}
.icon-email,
.icon-phone {
  border-radius: 50px;
  height: 32px;
  width: 32px;
}
.icon-email {
  padding: 8px;
}
.icon-linkedin {
  padding: 8px 9px;
}
.icon-github,
.icon-linkedin {
  border-radius: 50px;
  height: 32px;
  width: 32px;
}
.icon-github {
  padding: 8px;
}
.palette1 p {
  color: #114e4e;
}
.palette1 .icon-border {
  border: 2px solid #438792;
}
.palette1 .rectangle {
  background-color: #a2deaf;
}
.palette2 p {
  color: #420101;
}
.palette2 .icon-border {
  border: 2px solid #bd1010;
}
.palette2 .rectangle {
  background-color: #e95626;
}
.palette3 p {
  color: #3e5b65;
}
.palette3 .icon-border {
  border: 2px solid #eab052;
}
.palette3 .rectangle {
  background-color: #a0c0cf;
}
.palette4 p {
  color: #2d88bd;
}
.palette4 .icon-border {
  border: 2px solid #c7006a;
}
.palette4 .rectangle {
  background-color: #ffc8dd;
}
.design-section {
  border-color: transparent;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10px 0 30px;
  width: 100%;
}
.legend-design {
  align-items: baseline;
  color: #2d88bd;
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .legend-design {
    padding: 0 20px;
  }
}
.design-section .fa-object-ungroup {
  color: #e06ae6;
  font-size: 1.6rem;
}
.design-section .fa-angle-down {
  color: #2d88bd;
  display: block;
  margin-right: 5%;
}
.design-colors {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 80%;
}
.color-palette-label {
  display: inline-flex;
}
.colors-options {
  display: flex;
  flex-direction: column;
}
.design-subtitle {
  color: #2d88bd;
  font-family: Open Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}
.option {
  align-items: center;
  display: inline-flex;
  padding: 5px;
}
.color-palette-input1,
.color-palette-input2,
.color-palette-input3,
.color-palette-input4,
.option {
  cursor: pointer;
}
.color1 {
  background-color: #114e4e;
}
.color1,
.color2 {
  height: 25px;
  width: 30px;
}
.color2 {
  background-color: #438792;
}
.color3 {
  background-color: #a2deaf;
}
.color3,
.color4 {
  height: 25px;
  width: 30px;
}
.color4 {
  background-color: #420101;
}
.color5 {
  background-color: #bd1010;
}
.color5,
.color6 {
  height: 25px;
  width: 30px;
}
.color6 {
  background-color: #e95626;
}
.color7 {
  background-color: #3e5b65;
}
.color7,
.color8 {
  height: 25px;
  width: 30px;
}
.color8 {
  background-color: #eab052;
}
.color9 {
  background-color: #a0c0cf;
}
.color10,
.color9 {
  height: 25px;
  width: 30px;
}
.color10 {
  background-color: #2d88bd;
}
.color11 {
  background-color: #ffc8dd;
}
.color11,
.color12 {
  height: 25px;
  width: 30px;
}
.color12 {
  background-color: #c7006a;
}
.hidden {
  display: none;
}
.fill-section {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  font-family: Open Sans, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}
.fill-inputs-section {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 15px;
}
.fill-section input {
  background-color: #919191;
  border: 1px solid #919191;
  border-radius: 5px;
  opacity: 0.7;
  padding: 5px;
}
.fill-section input:focus {
  outline: none;
  outline: 2.5px solid #b615a0;
}
.text-fill {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
.profile:first-letter,
.text-fill:first-letter {
  text-transform: capitalize;
}
.profile {
  margin-bottom: 15px;
}
.legend-fill {
  align-items: baseline;
  color: #2d88bd;
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 100%;
}
.fill {
  color: #2d88bd;
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.fill-section .fa-keyboard {
  color: #e06ae6;
  height: 20px;
  width: 20px;
}
.fill-section .fa-angle-down {
  color: #2d88bd;
  display: block;
  margin-right: 5%;
}
.div-text-fill {
  display: grid;
  grid-template-columns: 150px 100px;
  margin-bottom: 10px;
}
.profile__preview {
  align-items: baseline;
  background-image: url();
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff;
  grid-column-start: 2;
  height: 30px;
  margin-top: 30px;
  width: 30px;
}
.profile {
  color: #fff;
  font-weight: 500;
}
.image_button {
  background-color: #e06ae6;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 1.4rem;
  height: 30px;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  transition-duration: 0.5s;
  width: 140px;
}
.image_button:hover {
  background-color: #fff;
}
.image_button:active {
  background-color: #c7006a;
  transition-duration: 0.25s;
}
.image__hiddenField {
  display: none;
}
::-webkit-input-placeholder {
  color: #000;
}
::placeholder {
  color: #000;
}
.share-section {
  border-color: transparent;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}
.legend-share {
  align-items: baseline;
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  padding: 0 20px;
  width: 100%;
}
.legend-share,
.share {
  color: #2d88bd;
  margin-top: 10px;
}
.share {
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.share-section .fa-share-nodes {
  color: #e06ae6;
  height: 20px;
  width: 20px;
}
.button-container {
  display: flex;
}
.button-create {
  background-color: #e06ae6;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
  color: #282626;
  cursor: pointer;
  font-size: 1.8rem;
  height: 50px;
  margin: 20px auto 30px;
  padding: 10px;
  text-transform: uppercase;
  transition-duration: 0.5s;
  width: 199px;
}
.button-create:hover {
  background-color: #fff;
}
.button-create:active {
  background-color: #c7006a;
  transition-duration: 0.25s;
}
.inactived {
  background-color: #d5d5d5;
}
.fa-share-nodes {
  color: #e06ae6;
}
.share-section .fa-angle-down {
  color: #2d88bd;
  display: block;
  margin-right: 5%;
}
.check {
  text-align: center;
}
.check,
.created {
  margin-bottom: 20px;
  margin-top: 20px;
  row-gap: 13px;
}
.created {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.share-text {
  color: #2d88bd;
  font-size: 1.8rem;
  font-weight: 600;
}
.share-text:first-letter {
  text-transform: capitalize;
}
.link {
  color: #e06ae6;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
}
.button-share,
.link {
  text-align: center;
  text-decoration: none;
}
.button-share {
  background-color: #00a0f5;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  height: 30px;
  padding: 5px;
  width: 180px;
}
.button-share:first-letter {
  text-transform: capitalize;
}
.collapsed {
  display: none;
}
.footer {
  align-items: center;
  background: linear-gradient(#78bff9, #ffc8dd);
  border-top: 1px solid #ded8d8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: 10vh;
  padding: 1.8rem 6.1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  }
}
.footer__copyright {
  color: #1e1e1e;
  font-size: 1.4rem;
  opacity: 0.6;
}
.footer__logo {
  -webkit-filter: darkness(100);
  filter: darkness(100);
  opacity: 0.5;
  width: 10.3rem;
}
.main-profile {
  background: linear-gradient(#ffc8dd, #78bff9);
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 17.463rem);
}
@media (min-width: 768px) {
  .main-profile {
    align-content: space-between;
    grid-template-columns: 2fr 3fr;
    min-height: calc(100vh - 17.1rem);
    padding: 20px 40px;
  }
  .main-profile .preview {
    border-radius: 7px;
  }
  .main-profile .card {
    margin-bottom: 300px;
  }
  .preview {
    order: 2;
  }
}
.rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate,
.skull {
  transition-duration: 0.35s;
}
.skull {
  -webkit-filter: hue-rotate(200deg);
  filter: hue-rotate(200deg);
}
.main {
  align-items: center;
  background: linear-gradient(#ffc8dd, #78bff9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 65vh;
  padding: 9.34rem 2.8rem 0 2.72rem;
}
@media (min-width: 768px) {
  .main {
    justify-content: flex-start;
    min-height: calc(100vh - 9.1rem);
  }
}
.main__title {
  color: #e06ae6;
  font-family: Merriweather, serif;
  font-size: 1.92rem;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 2.4rem;
  }
}
.main__description {
  color: #fff;
  font-size: 1.28rem;
  text-align: center;
  width: 26.48rem;
}
@media (min-width: 768px) {
  .main__description {
    font-size: 1.6rem;
    margin-bottom: 2.7rem;
    width: 33.1rem;
  }
}
.main__menu {
  border: 1.6px solid #e06ae6;
  border-radius: 4px;
  display: flex;
  gap: 3.4rem;
  margin: 1.78rem auto 0;
  padding: 1.5rem 2rem 1rem;
}
@media (min-width: 768px) {
  .main__menu {
    border: 2px solid #e173342c;
  }
}
.main__menu__item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.28rem;
  height: 4.88rem;
  list-style: none;
  text-align: center;
  width: 60px;
}
@media (min-width: 768px) {
  .main__menu__item {
    font-size: 1.6rem;
    width: 75px;
  }
}
.main__menu__item .icon {
  color: #e06ae6;
  font-size: 2.6rem;
}
@media (min-width: 768px) {
  .main__menu__item .icon {
    font-size: 2.9rem;
  }
}
.main__button {
  background-color: #e06ae6;
  border-radius: 2.1rem;
  color: #282626;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
}
.main__button:hover {
  background-color: #fff;
}
.main__button:active {
  background-color: #c7006a;
  transition-duration: 0.5s;
}
@media (min-width: 768px) {
  .main__button {
    margin: 6rem 3rem 3rem;
  }
}
.farmeContainer {
  height: 60rem;
  overflow: hidden;
  width: 70vw;
}
.farme3d {
  height: 100%;
  position: relative;
  width: 100%;
}
/*# sourceMappingURL=main.ace38950.css.map*/
