@import '../core/Variables.scss';

.header__home {
    width: 100%;
    margin: 9.5rem auto 3.54rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-bottom: 300px;
  
  
    &__logo {
      width: 25rem;
  
      @media all and (min-width: 768px) {
        width: 30.9rem;
      }
    }
  
    @media all and (min-width: 768px) {
      height: 15vh;
      margin: 0;
      align-items: flex-end;
    }
  }
  
  .header__profile {
    width: 100%;
    
    &__link {
      position: static;
      display: flex;
      justify-content: center;
      margin: 0rem;
      padding: 1rem;
      background: $dark-gradient;
      
      
     @media all and (min-width: 768px) {
        justify-content: flex-start;
        padding:2rem 4rem;
      }
    }
  
    &__logo {
      width: 20rem;
   
    }
  }