@import '../core/Variables.scss';

.main {
    background: $dark-gradient;
    padding: 19.34rem 2.8rem 0rem 2.72rem;
    min-height: calc(100vh - 10.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
  
    @media all and (min-width: 768px) {
      min-height: calc(100vh - 9.1rem);
      justify-content: flex-start;
      padding-top: 16vh;
    }
  
    &__title {
      font-family: $title_font;
      color: $primary_color;
      font-size: 1.92rem;
  
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
  
    &__description {
      color: white;
      text-align: center;
      font-size: 1.28rem;
      width: 26.48rem;
  
      @media all and (min-width: 768px) {
        font-size: 1.6rem;
        width: 33.1rem;
        margin-bottom: 2.7rem;
      }
    }
  
    &__menu {
      display: flex;
      padding: 1.5rem 2rem 1rem;
      margin: 1.78rem auto 0rem;
      gap: 3.4rem;
      border: 1.6px solid $primary_color;
      border-radius: 4px;
  
      @media all and (min-width: 768px) {
        // margin: 2.7rem auto 18.6rem;
        border: 2px solid #e173342c;
      }
  
      &__item {
        width: 60px;
        height: 4.88rem;
        list-style: none;
  
        color: white;
        text-align: center;
        font-size: 1.28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        @media all and (min-width: 768px) {
          font-size: 1.6rem;
          width: 75px;
        }
  
        .icon {
          color: $primary_color;
          font-size: 2.6rem;
  
          @media all and (min-width: 768px) {
            font-size: 2.9rem;
          }
        }
      }
    }
  
    &__button {
      text-transform: uppercase;
      font-size: 1.6rem;
      background-color: $primary_color;
      font-weight: 600;
      text-decoration: none;
      color: #282626;
      padding: 1rem 2rem;
      border-radius: 2.1rem;
      margin-bottom: 3rem;
      transition-duration: 500ms;
  
      &:hover {
        background-color: $secondary_color;
      }
  
      &:active {
        background-color: $secondary_color_active;
        transition-duration: 500ms;
      }
  
      @media all and (min-width: 768px) {
        margin: 3rem;
        margin-top: 6rem;
      }
    }
  }
  
  .farmeContainer {
    height: 60rem;
    width: 100vw;
    overflow: hidden;
  }
  
  .farme3d {
    height: 100%;
    width: 100%;
    position: relative;
  }
  