@import '../core/Variables.scss';

.preview {
    width: 100%;
    height: 100%;
    margin: auto auto;
    background: $light-gradient;
    padding-bottom: 40px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: min-content min-content;
  
    @media all and (min-width: 768px) {
      border-radius: 6px;
      width: 85%;
      height: 80vh;
    }
  
    @media all and (min-width: 1200px) {
      height: 82.6rem;
    }
  }
  
  .reset-button {
    width: 8.5rem;
    height: 3rem;
    font-size: 12px;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 38px;
    margin-bottom: 20px;
    opacity: 100%;
    transition-duration: 150ms;
    cursor: pointer;
    
    &:hover{
      background-color: #454040;
      color: #7c7c7c;
      border: 1px solid #7c7c7c;
      opacity: 100%;
      
    }
    
    &:active{
     background-color: #454040;
      color: whitesmoke;
      border: 1px solid #7c7c7c;
      opacity: 100%;
    
    }
  
    @media all and (min-width: 768px) {
      margin-top: 173px;
    }
  }
  
  .preview .fa-regular {
    padding-right: 5px;
  }
  
  .card {
    border: 1px;
    border-radius: 5px;
    background-color: white;
    width: 270px;
    border-color: $main_text_color;
    box-shadow: 1px 2px 4px rgba(14, 14, 14, 0.25);
  }
  
  .information {
    margin-top: 21px;
    margin-left: 20px;
  }
  
  .photo {
    object-fit: cover;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: $secondary_color;
    margin-left: 20px;
  }
  
  .developer {
    font-size: 16px;
    color: $main_text_color;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .rectangle {
    background-color: #438792;
    width: 5px;
    height: 42px;
    position: absolute;
    margin-top: 20px;
  }
  
  .photo {
    width: 100%;
    height: 250px;
  }
  
  .icons {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    margin: 20px 20px 20px;
  }
  
  .icons a {
    color: $secondary_color;
    &:hover{
      color: $secondary_color_active;
    }
  }
  
  .icon-border {
    border: 2px solid #a2deaf;
  }
  
  .icon-phone {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 8px 10px 8px 10px;
  }
  
  .icon-email {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 8px 8px 8px 8px;
  }
  
  .icon-linkedin {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 8px 9px 8px 9px;
  }
  .icon-github {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    padding: 8px 8px 8px 8px;
  }
  
  // ------------------------- paletas de colores ------------------------
  
  .palette1 {
    & p {
      color: #114e4e;
    }
    & .icon-border {
      border: #438792 2px solid;
    }
    & .rectangle {
      background-color: #a2deaf;
    }
  }
  
  .palette2 {
    & p {
      color: #420101;
    }
    & .icon-border {
      border: #bd1010 2px solid;
    }
    & .rectangle {
      background-color: #e95626;
    }
  }
  
  .palette3 {
    & p {
      color: #3e5b65;
    }
    & .icon-border {
      border: #eab052 2px solid;
    }
    & .rectangle {
      background-color: #a0c0cf;
    }
  }
  .palette4 {
    & p {
      color: #394032;
    }
    & .icon-border {
      border: #CCCC00 2px solid;
    }
    & .rectangle {
      background-color: #DA7422;
    }
  }