@import '../core/Variables.scss';

.share-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-color: transparent;
    padding: 10px 0 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: solid #d8d8d8 1px;
  }
  .legend-share {
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: baseline;
    gap: 15px;
    color: $main_text_color;
    cursor: pointer;
  }
  .share {
    text-transform: uppercase;
    color: $main_text_color;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  .share-section .fa-share-nodes {
    color: $primary_color;
    width: 20px;
    height: 20px;
  }
  .button-container {
    display: flex;
  }
  
  .button-create {
    width: 199px;
    height: 50px;
    background-color: $primary_color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    color: #282626;
    margin: 20px auto 30px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1.8rem;
    transition-duration: 500ms; 
    cursor: pointer;
    &:hover{
      background-color: $secondary_color; 
      
  }
  
    &:active {
      background-color: $secondary_color_active;
      transition-duration: 250ms; 
  }
  }
  //OJO CUIDAO! when the card is created the color of the button changes to gray
  
  .inactived {
    background-color: #d5d5d5;
  } 
  
  .fa-share-nodes {
    color: $primary_color;
  }
  .share-section .fa-angle-down {
    display: block;
    margin-right: 5%;
    color: $main_text_color;
    
  }
  
  .check {
    row-gap: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .created {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .share-text {
    color: $main_text_color;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .share-text:first-letter {
    text-transform: capitalize;
  }
  .link {
    text-align: center;
    color: $primary_color;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
  }
  .button-share {
    width: 180px;
    height: 30px;
    font-size: 1.4rem;
    background-color: #00a0f5;
    color: #ffffff;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button-share::first-letter {
    text-transform: capitalize;
  }
  
  
  .collapsed {
    display: none;
  }