$main_font:'Open Sans', sans-serif;
$title_font: 'Merriweather', serif;
$card_font: 'Montserrat', sans-serif;

$main_text_color: #2d88bd;
$secondary_color: #ffffff;
$secondary_color_active: #c7006a;
$primary_color: #e06ae6;
$primary_color_active: #e7b100;
$form_color: #a2deaf;

$dark-gradient: linear-gradient(#FFC8DD, #78bff9);
$inverse-gradient: linear-gradient(#78bff9, #FFC8DD);
$light-gradient: linear-gradient(#FFC8DD, #78bff9);